#miCanvas { border: solid 1px #ccc; margin: 20px;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;                                     /* Ocupa toda la altura de la pantalla */
    margin: 0;                                         /* Elimina el margen predeterminado del body */
}

#canvasContainer {
    position: relative;
    display: flex;                
    align-items: center;          
    justify-content: center;      
    width: 1100px;               
    height: 800px;                
}
.play {
    background: white;
    width: 120px;
    height: 120px;
    border: solid 5px #fff;
    border-radius: 50%;
    position: absolute;                                /* Posiciona el botón sobre el canvas */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 4px #000000;
    z-index: 2;                                        /* El botón encima de la capa de opacidad */
}

.play::before {
    content: '\25B6'; 
    font-size: 50px; 
    color: #000000; 
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;                  
    height: 100%;                 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;                   
}
